Generali.UI/Connected Services/SalesWCFReference/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53015/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GeneraliSaleService" />
  <xs:import schemaLocation="http://localhost:53015/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Core.Models.Entities" />
  <xs:import schemaLocation="http://localhost:53015/Service1.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Core.DataObjects.Business.Requests" />
  <xs:import schemaLocation="http://localhost:53015/Service1.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Core.DataObjects.Business.Responses" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GeneraliSaleService" minOccurs="0" name="composite" nillable="true" type="q1:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/GeneraliSaleService" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q2:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProducts">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Core.Models.Entities" minOccurs="0" name="GetProductsResult" nillable="true" type="q3:ArrayOfProductTable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddProducts">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Core.DataObjects.Business.Requests" minOccurs="0" name="addProductRequest" nillable="true" type="q4:ArrayOfAddProductRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddProductsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Core.Models.Entities" minOccurs="0" name="AddProductsResult" nillable="true" type="q5:ArrayOfProductTable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateSale">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Core.DataObjects.Business.Requests" minOccurs="0" name="saleRequest" nillable="true" type="q6:CreateSaleRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateSaleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Core.Models.Entities" minOccurs="0" name="CreateSaleResult" nillable="true" type="q7:SalesTable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSale">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="saleId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSaleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Core.Models.Entities" minOccurs="0" name="GetSaleResult" nillable="true" type="q8:SalesTable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSales">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSalesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Core.Models.Entities" minOccurs="0" name="GetSalesResult" nillable="true" type="q9:ArrayOfSalesTable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Core.DataObjects.Business.Requests" minOccurs="0" name="userLoginRequest" nillable="true" type="q10:UserLoginRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Core.DataObjects.Business.Responses" minOccurs="0" name="LoginResult" nillable="true" type="q11:LoginResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>